body {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
    line-height: 1.5;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
    font-weight: 700;
    height: 24px;
}

.logo-color {
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    height: 24px;
}

ul {
    list-style: none;
}

.nav-list-item {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
}

.address-list-item {
    font-style: normal;
    text-decoration: none;
    color: #2e2f42;
    font-weight: 400;
    font-size: 16px;
}

.main-section {
    background-color: #2e2f42;
}

.main-title {
    text-align: center;
    color: #ffffff;
}

.button {
    background-color: #4d5ae5;
    color: #ffffff;
}

.features-section {
    text-align: left;
}

.team-section {
    background-color: #f4f4fd;
    width: 1440px;
}

h2{
    text-align: center;
}

.header-team-item,
.paragraph-team-item {
    text-align: center;
}
.team-item-person {
    text-align: left;
}

.team-list-item {
    background-color: #ffffff;
}

.portfolio-header {
    text-align: center;
}

.header-portfolio-item,
.paragraph-portfolio-item {
    text-align: left;
}

.footer {
    background-color: #2e2f42;
}

.logo-footer {
    color: #f4f4fd;
}

.paragraph-footer {
    color: #f4f4fd;
}