body {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
    line-height: 1.5;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    font-weight: 700;
    height: 24px;

}

.logo-color {
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;;
    font-weight: 700;
    font-size: 18px;
    height: 24px;
}

ul {
    list-style: none;
}

.nav-list-item {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404bbf;
}

.address-list-item {
    font-style: normal;
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
}

.address-list-item:hover,
.address-list-item.focus {
    color: #404bbf;
}

.main-section {
    background-color: #2e2f42;
}

.main-title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4d5ae5;
    color: #fff;
    width: 169px;
    height: 56px;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.features-section {
    text-align: left;
}

.team-section {
    background-color: #f4f4fd;
}

.features-header,
.team-header,
.portfolio-header {
    text-align: center;
}

.header-team-item,
.paragraph-team-item {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-item-person {
    text-align: left;
}

.team-list-item {
    background-color: #ffffff;
}

.portfolio-header {
    text-align: center;
}

.header-portfolio-item,
.paragraph-portfolio-item {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-portfolio-item:hover,
.header-portfolio-item:focus,
.paragraph-portfolio-item:hover,
.paragraph-portfolio-item:focus {
   color: #2e2f42; 
}

.footer {
    background-color: #2e2f42;
}

.logo-footer {
    color: #f4f4fd;
}

.paragraph-footer {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}